.grid-container {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: stretch;

}



.icon-card{
    padding: 26px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: white;
    width: 300px;
    margin-right: 20px;
}

.card-body{
    display: inline;
    text-align: center;
}

.card-title {
    font-size: 30px;
    color: #333333;

}

.card-icon {
    border-radius: 50px;
    display: inline-block;
    margin-right: 30px;
    background: #0000ff69;
    padding: 24px;
    font-size: 34px;
    color: white;
}

.card-caption {
    font-size: 20px;
    color: #888888;
}

.card-container {
    display: inline-block;
    text-align: left;
}

