@import "../../app/app.component.scss";
.example-container{
    border-radius: 50px;
    padding: 80px;
    text-align: center;
    font-size: 21px;
    margin: 285px;
    border: 1px solid #226097 !important
}

hr{
    border: 1px solid #599fdd85
}