<div class="select-container">
    <div class="select-header">
        Seleccione el módulo 
    </div>
    <div class="select-body" 
        fxLayout="row wrap" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="32px" 
        fxLayoutAlign="flex-start">
        <div *ngFor="let module of modules" class="ripple-container mat-elevation-z4" 
        (click)='goToModule(module.uri, module.name, module.description)'
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        [style.background]="module.background"
        [style.color]="module.color_text"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color">
            <i class="{{module.icon}}"></i> 
            {{module.name}} -
            {{module.description}}
        </div>
        <div *ngIf = "count == 0"  style="text-align: center;"         
        fxFlex="100%"
        fxFlex.lt-md="100%"
        fxFlex.lt-sm="100%">
            <mat-card>
                <mat-card-header style="display: inline !important; color: #d75757;">
                    <i class="fas fa-exclamation-triangle"></i>
                </mat-card-header>
                <mat-card-content>
                    <h3>El Usuario no tiene módulos asignados</h3>
                </mat-card-content> 
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="logout()">Cerrar sesión</button>
                  </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>