<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <!-- <app-datatable [columns] = "Columns" [data]="data" (deleteEvent)="delete($event)"
  (AddEvent)="new($event)" url="element"></app-datatable> -->
  <br><br>
  <app-autocomplete [class]="'example-full-width col-lg-12'" [Placeholder]="'Seleccione uno'"
    [options]="optionsautocomplete"
    (getData)="ValueSelectAutocomplete($event, 'valueautocomplete')"
    (keydown.enter)="ValueKey($event,'valueautocomplete')">
  </app-autocomplete>
  <br>
  <app-select [class]="'example-full-width col-lg-12'" [Placeholder]="'Seleccione uno'"
    [options]="optionsselect" (getData)="ValueSelectAutocomplete($event, 'valueselect')"
    (keydown.enter)="ValueKey($event,'valueselect')">
  </app-select>
  <br>
  <app-datatable-configurable [columns] = "ColumnsConfigurable" [data]="data"></app-datatable-configurable>
</div>
