<block-ui>
  <div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <!-- <app-datatable [columns] = "Columns" [data]="data" (DeleteEvent)="delete($event)"
    (CreateEvent)="new()" url="main/producto"></app-datatable> -->
    <!-- <div class="row">
      <app-autocomplete [class]="'col-lg-6'" [Placeholder]="'Seleccione uno'"
      [options]="optionsautocomplete"
      (getValue)="GetValue($event, 'valueautocomplete')"
      (keypress)="ValueKey($event,'valueautocomplete')">
      </app-autocomplete>
    </div> -->
    <!-- <div class="row">
      <app-select [Class]="'col-lg-6'" [Placeholder]="'Seleccione una opcion'"
      [Options]="optionsselect" (getValue)="GetValue($event, 'value2')"
      (keypress)="ValueKey($event,'valueselect')">
      </app-select>
    </div> -->
    <!-- <div class="row">
      <app-datepicker [Value]="'13/7/2020'" [Class]="'col-lg-6'" (getValue)="GetValue($event, 'valuedate')"></app-datepicker>
    </div> -->
    <div class="row">
      <app-file-uploader [formats]="'.jpg,.png,.jpeg'" [size]="10"></app-file-uploader>
    </div>
    <!-- <app-checkbox [Title]="'Activo'" [Position]="'before'"
    [Class]="'col-lg-6'" [Value]="false" (getValue)="GetValue($event, 'valuecheck')"></app-checkbox> -->
    <!-- <app-radio-button [Options]="optionsselect" [Type]="'vertical'"
      [Title]="'Seleccione una opcion'" (getValue)="GetValue($event, 'valueradio')">
    </app-radio-button> -->
    <!-- <app-slide-toggle [Title]="'Activo'" [Value]="false"
    (getValue)="GetValue($event, 'valueslide')"></app-slide-toggle> -->
    <br><br>
    <app-colorpicker (getValue)="GetValue($event, 'valuecolor')"></app-colorpicker>
    <!-- <app-datepicker-my></app-datepicker-my> -->
    <!-- <app-datatable-configurable [columns] = "ColumnsConfigurable" [data]="data"></app-datatable-configurable> -->
  </div>
</block-ui>
