/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar{
    background-color: rgb(185, 74, 74);
}

.success-snackbar{
    background-color: #199636;
}

.warning-snackbar{
    background-color: rgb(202, 115, 0);
}

.content-snack {
    color:white;
    font-size: 18px;
}

.w-100{
    width: 100%;
}


.grid-container {
    margin: 20px;
}

.title-maintenance {
    text-align: center !important;
}
    
.back-maintenance{
    text-align: right;
}

.i-back {
    font-size: 10px;
}

.buttons-maintenance {
    text-align: center;
}

