<div class="page-breadcrumb p-t-20 p-b-5 p-l-30 p-r-30">
    <div fxLayout="row wrap" class="row-wrap">
        <div fxFlex="60" fxFlex.lt-md="30" class="title-page-container align-self-center">
            <h3 class="title-page">{{ title }}</h3>
        </div>
        <div fxFlex="40" fxFlex.lt-md="70" ngClass.lt-md="item-text-md-lt" class="breadcurm-item-container align-self-center">
            <div class="breadcrumb d-flex float-right float-sm-left">
                <ul class="list-style-none d-flex">
                    <li class="breadcrumb-item ng-star-inserted deactivated" tabindex="0">{{ module }} > </li> 
                    <li class="breadcrumb-item ng-star-inserted">{{ title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
